Package: com.tutu.keyboardrounded
Name: Keyboard Rounded
Version: 1.0.0
Architecture: iphoneos-arm64e
Description: Simple iOS keyboard key corner rounding tweak.
Maintainer: CongTu
Author: CongTu
Section: Tweaks
Depends: mobilesubstrate
