{
    PreferenceSpecifiers = (
        {
            Type = PSGroupSpecifier;
            Label = "Keyboard Rounded";
            FooterText = "Nhập độ bo góc của phím từ 0 đến 20.";
        },
        {
            Type = PSEditTextSpecifier;
            Title = "Key Radius";
            Key = KeyRadius;
            DefaultValue = 10;
            KeyboardType = 4;
            Defaults = "com.tutu.keyboardrounded";
            IsSecure = NO;
        }
    );

    Title = "Keyboard Rounded";
}
