<dict>
    <key>cell</key>
    <string>PSSliderCell</string>

    <key>defaults</key>
    <string>com.tutu.keyboardrounded</string>

    <key>key</key>
    <string>KeyRadius</string>

    <key>default</key>
    <real>10.0</real>

    <key>min</key>
    <real>0.0</real>

    <key>max</key>
    <real>20.0</real>

    <key>label</key>
    <string>Key Radius</string>

    <key>PostNotification</key>
    <string>com.tutu.keyboardrounded/settingschanged</string>
</dict>
