{
    PreferenceSpecifiers = (
        {
            Type = PSGroupSpecifier;
            Label = "Keyboard Rounded";
            FooterText = "Nhập độ bo góc từ 0 đến 20.";
        },
        {
            Type = PSEditTextSpecifier;
            Title = "Key Radius";
            Key = KeyRadius;
            DefaultValue = 8;
            Defaults = "com.tutu.keyboardrounded";
            KeyboardType = 4;
        }
    );
    Title = "Keyboard Rounded";
}
